extends layout/main
block append styles
  link(rel="stylesheet" media='screen' href="/css/main.css")
block append scripts
  script(defer='', src='/js/vendors~main.bundle.js')
  script(defer='', src='/js/main.js')
block append content
  .container
    .py-5.text-center
      img.d-block.mx-auto.mb-4(src='https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-solid.svg' alt='' width='72' height='72')
      h2 Checkout form
      p.lead
        | Below is an example form built entirely with Bootstrap&apos;s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.
    .row#app
    footer.my-5.pt-5.text-muted.text-center.text-small
      p.mb-1 &copy; 2017-2018 Company Name
      ul.list-inline
        li.list-inline-item
          a(href='#') Privacy
        li.list-inline-item
          a(href='#') Terms
        li.list-inline-item
          a(href='#') Support


